---
import MainLayout from "../../../layouts/MainLayout.astro";
import FooterSection from "../../../sections/FooterSection.astro";
import SelectDepartament from "../../../components/SelectDepartament.astro";
import logo from "../../../assets/logo.svg";
import UrbanizacionesSection from '../../../sections/UrbanizacionesSection.astro';

import lapazbg from "../../../assets/imgs/lapazbg.jpg";
import cochabambabg from "../../../assets/imgs/cochabambabg.jpg";
import santacruzbg from "../../../assets/imgs/santacruzbg.jpg";

import vidlapaz from "../../../assets/videos/vidlapaz.webm";
import vidcochabamba from "../../../assets/videos/vidcochabamba.webm";
import vidsantacruz from "../../../assets/videos/vidsantacruz.webm";

export function getStaticPaths() {
  return [
    { params: { title: 'lapaz',urbanizacion:''} },
    { params: { title: 'cochabamba',urbanizacion:''} },
    { params: { title: 'santacruz',urbanizacion:''} },
  ];
}

const { title, urbanizacion } = Astro.params;

---

<MainLayout>
  <nav
    class="bg-slate-800 border-b border-emerald-300/20 sticky w-full z-80 top-0 start-0"
  >
    <div class="flex flex-wrap items-center justify-between mx-auto">
      <a
        href="/"
        class="px-4 lg:px-6 py-3  md:py-3 flex items-center justify-center md:justify-start"
      >
        <div class="flex items-center space-x-3">
          <img src={logo.src} alt="Canaan Inmobiliaria" class="w-20" />
        </div>
      </a>

      <div
        class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse px-4 justify-center items-center"
      >
        <button
          type="button"
          class="text-slate-800 flex gap-2 justify-center items-center bg-yellow-500 cursor-pointer border-2 border-yellow-600 hover:text-slate-950 font-medium rounded-lg text-lg px-4 py-2 text-center"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path
              fill="currentColor"
              d="M3 11h8V3H3zm2-6h4v4H5zM3 21h8v-8H3zm2-6h4v4H5zm8-12v8h8V3zm6 6h-4V5h4zm-5.99 4h2v2h-2zm2 2h2v2h-2zm-2 2h2v2h-2zm4 0h2v2h-2zm2 2h2v2h-2zm-4 0h2v2h-2zm2-6h2v2h-2zm2 2h2v2h-2z"
            ></path>
          </svg>
          Pagar
        </button>

        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-1 cursor-pointer w-10 h-10 justify-center text-sm text-gray-200 rounded-lg md:hidden hover:text-gray-300 focus:outline-none"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"
            ></path></svg
          >
        </button>
      </div>

      <div
        id="navbar-sticky"
        class="items-center justify-center hidden w-full md:flex md:max-w-sm md:order-1 px-4 py-3 rounded-md transition-all duration-300"
      >
        <SelectDepartament active={true} client:load/>
      </div>
    </div>
  </nav>
  <section
    class="relative flex flex-col w-full justify-center py-2 px-4 border-b-4 border-slate-500/20 items-center overflow-hidden"
  >
    {title=="lapaz"?
        <video
          autoplay
          muted
          loop
          playsinline
          class="absolute inset-0 w-full h-screen object-cover"
          poster={lapazbg.src}
        >
          <source src={vidlapaz} type="video/webm" />
          Tu navegador no soporta video en HTML5.
        </video>
        :title=="cochabamba"?
        <video
          autoplay
          muted
          loop
          playsinline
          class="absolute inset-0 w-full h-screen object-cover"
          poster={cochabambabg.src}
        >
          <source src={vidcochabamba} type="video/webm" />
          Tu navegador no soporta video en HTML5.
        </video>:
        <video
          autoplay
          muted
          loop
          playsinline
          class="absolute inset-0 w-full h-screen object-cover"
          poster={santacruzbg.src}
        >
          <source src={vidsantacruz} type="video/webm" />
          Tu navegador no soporta video en HTML5.
        </video>
    }
    

    <div class="absolute inset-0 bg-black/70"></div>

    <div
      class="relative z-10 w-full flex flex-col items-center pb-10 pt-5 md:pb-20 md:pt-10"
    >
      <h1
        class="font-bold flex flex-col md:flex-row w-full justify-center items-center text-center gap-2"
      >
        <span class="block text-4xl lg:text-6xl text-slate-100"
          >Urbanizaciones</span
        >
        <span class="block text-4xl lg:text-6xl text-amber-400"
          >Disponibles</span
        >
      </h1>
      <h1 class="text-white/30 font-bold text-5xl mt-5">{title=="lapaz"?"La Paz":title=="cochabamba"?"Cochabamba":"Santa Cruz"}</h1>
        
    </div>
  </section>
  <UrbanizacionesSection/>

  <FooterSection />
</MainLayout>
