---
const { img, tipo, descripcion,precio } = Astro.props
const { title } = Astro.params

import PlanimetriaMapComponent from "./PlanimetriaMapComponent.vue"
import SliderViviendaComponent from "../components/SliderViviendaComponent.astro"
---
<div class="flex relative flex-col w-full max-w-sm mx-4 pb-5 border border-slate-50
            bg-gradient-to-t from-white via-slate-100 to-white 
            rounded-4xl shadow-sm overflow-visible">
   <div class="flex items-center justify-center mb-2 relative transform -rotate-2 bg-slate-800 px-4   rounded-full">
        
        <h5 class="text-4xl font-extrabold text-slate-100 transform rotate-1 tracking-tight">
            {precio}
        </h5>
    </div>
   <div class="relative lg:[150%] -mx-0 lg:-mx-5 mt-2"> 
    <img src={img} alt={tipo} class="w-full border-2 border-white h-48 object-cover rounded-4xl shadow-md shadow-slate-600/40" />
  <span class="absolute bottom-2 left-5 bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
    financiamiento
  </span>
  <span class="absolute top-2 left-5 bg-slate-100 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-amber-900 dark:text-amber-300">
    +Servicios Básicos
  </span>
  <span class="absolute flex gap-1 justify-center items-center bottom-2 right-5 bg-slate-100 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-amber-900 dark:text-amber-300">
    {tipo==='Departamento' || tipo==='Duplex'?
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 36 36"><path fill="#ffcc4d" d="M14 34a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V14a2 2 0 0 0-2-2H16a2 2 0 0 0-2 2z"/><path fill="#bcbec0" d="M34 12H20v2h16a2 2 0 0 0-2-2"/><path fill="#55acee" d="M20 16h14v20H20z"/><path fill="#ffe8b6" d="M18 0H2a2 2 0 0 0-2 2v32a2 2 0 0 0 2 2h18V2a2 2 0 0 0-2-2"/><path fill="#bcbec0" d="M18 0H2a2 2 0 0 0-2 2h20a2 2 0 0 0-2-2"/><path fill="#55acee" d="M2 22h16v4H2zm0-6h16v4H2zm0-6h16v4H2zm0-6h16v4H2zm0 24h16v8H2z"/><path fill="#3b88c3" d="M6 32h8v4H6zm17 0h8v4h-8z"/><path fill="#ffcc4d" d="M20 26h15v2H20zm0-6h15v2H20z"/><path fill="#dd2e44" d="M36 7a2 2 0 0 1-2 2H24a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"/><path fill="#58595b" d="M26 9h2v3h-2zm4 0h2v3h-2z"/><path fill="#f4abba" d="M24 5h2v2h-2z"/><path fill="#fff" d="M26 5h2v2h-2z"/><path fill="#f4abba" d="M28 5h2v2h-2z"/><path fill="#fff" d="M30 5h2v2h-2z"/><path fill="#f4abba" d="M32 5h2v2h-2z"/></svg>
    :
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16"><g fill="none"><path fill="url(#SVGkm4eqcHj)" d="M6 9h4v5H6z"/><path fill="url(#SVG4sqiUdhg)" d="M8.687 2.273a1 1 0 0 0-1.374 0l-4.844 4.58A1.5 1.5 0 0 0 2 7.943v4.569a1.5 1.5 0 0 0 1.5 1.5h3v-4a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v4h3a1.5 1.5 0 0 0 1.5-1.5v-4.57a1.5 1.5 0 0 0-.47-1.09z"/><path fill="url(#SVGbhYexcuE)" fill-rule="evenodd" d="m8.004 2.636l5.731 5.41a.75.75 0 1 0 1.03-1.091L8.86 1.382a1.25 1.25 0 0 0-1.724.007L1.23 7.059a.75.75 0 0 0 1.038 1.082z" clip-rule="evenodd"/><defs><linearGradient id="SVGkm4eqcHj" x1="8" x2="4.796" y1="9" y2="14.698" gradientUnits="userSpaceOnUse"><stop stop-color="#944600"/><stop offset="1" stop-color="#cd8e02"/></linearGradient><linearGradient id="SVG4sqiUdhg" x1="3.145" x2="14.93" y1="1.413" y2="10.981" gradientUnits="userSpaceOnUse"><stop stop-color="#ffd394"/><stop offset="1" stop-color="#ffb357"/></linearGradient><linearGradient id="SVGbhYexcuE" x1="10.262" x2="6.945" y1="-.696" y2="7.895" gradientUnits="userSpaceOnUse"><stop stop-color="#ff921f"/><stop offset="1" stop-color="#eb4824"/></linearGradient></defs></g></svg>
    }
    {tipo}
  </span>
  
  </span>
</div>
<div class="px-4  flex flex-col justify-between gap-1 text-xs font-semibold text-slate-800 py-4">
    {descripcion}
</div>
<div class="absolute -bottom-5 left-1/2 transform -translate-x-1/2 flex gap-1 ">
  <a href="#urbanizacion-modal-{tipo}" 
     data-modal-target="#urbanizacion-modal-{tipo}" 
     class="cursor-pointer flex gap-1 w-35 justify-center items-center border bg-slate-50 border-emerald-600 text-emerald-600 hover:bg-emerald-50 font-medium rounded-full text-sm px-2 py-1 shadow-md">
    Ver detalle
  </a>
  <a href="https://wa.me/59170516064?text=Hola,%20quisiera%20más%20información%20sobre%20sus%20servicios%20por%20favor." 
     target="_blank"
     class="cursor-pointer text-white flex gap-1 w-35 justify-center items-center bg-emerald-600 hover:bg-emerald-700 font-medium rounded-full text-sm px-2 py-1 shadow-md">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28"/></svg>
    Reservar visita
  </a>
</div>
</div>
<div id=`urbanizacion-modal-${tipo}` tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-100 justify-center items-center  w-full md:inset-0 h-[calc(100%-1rem)] ">
    <div class="relative p-4 w-full max-w-5xl max-h-full">
        <div class="relative bg-slate-50  rounded-lg shadow-sm dark:bg-gray-700">
            <div class="flex bg-slate-900 items-center justify-between p-4 md:p-5  rounded-t-lg border border-slate-600">
                <h3 class="flex gap-2 justify-start items-center text-sm font-semibold text-gray-600 dark:text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="text-slate-100" viewBox="0 0 24 24"><path fill="currentColor" d="M20 2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2M4 4h4v10H4zm0 16v-4h4v4zm16 0H10V10h10zm0-12H10V4h10z"/></svg>  
                  <strong class="text-2xl text-amber-400 font-bold">{title=="lapaz"?"La Paz":title=="cochabamba"?"Cochabamba":"Santa Cruz"}</strong> <h4 class="text-white ml-2 text-xs font-semibold "> / {tipo} </h4> 
                </h3>
                <button type="button" class="text-gray-400 cursor-pointer bg-transparent hover:text-gray-500  rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide=`urbanizacion-modal-${tipo}`>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
               
            </div>
            <div class=" max-h-[70vh]">
              <div class="h-[50vh]">
                <PlanimetriaMapComponent client:load />
              </div>
            </div>
            
            <div class="flex w-full  justify-between items-center p-1 border-t border-gray-200 rounded-b ">
              <div class="flex flex-col gap-3 md:flex-row  justify-center md:justify-between items-center w-full px-4 py-2">
              <header class="flex gap-1 justify-center items-center">
                <span class="flex flex-col  justify-center items-center bg-green-100 text-green-800 text-xs font-medium  p-2 rounded-sm dark:bg-green-900 dark:text-green-300"><strong class="text-lg">12</strong>disponibles</span>
                <span class="flex flex-col  justify-center items-center bg-yellow-100 text-yellow-800 text-xs font-medium p-2 rounded-sm dark:bg-yellow-900 dark:text-yellow-300"><strong class="text-lg">5</strong> En Crédito</span>
                <span class="flex flex-col justify-center items-center bg-red-100 text-red-800 text-xs font-medium p-2 rounded-sm dark:bg-red-900 dark:text-red-300"><strong class="text-lg">8</strong> Ocupados</span>
              </header>
              <footer class="text-2xl text-slate-700 font-bold">
                25 Urbanizaciones
              </footer>
            </div>
                
            </div>
        </div>
    </div>
</div>
