---
import { Image } from "astro:assets";
import img1 from "../assets/imgs/18.jpg";
import img2 from "../assets/imgs/19.jpg";
import img3 from "../assets/imgs/20.jpg";
import img4 from "../assets/imgs/21.jpg";
import img5 from "../assets/imgs/22.jpg";
---
<div class="flex flex-col justify-center items-center w-full py-1 bg-slate-800">
  <div class="wrapper">
    <div class="slider">
      <div class="item item1">
        <Image src={img1} alt="Canaan Inmobiliaria" class="w-full h-full border-2 border-slate-500/30 rounded-lg object-cover object-center" />
      </div>
      <div class="item item2">
        <Image src={img2} alt="Canaan Inmobiliaria" class="w-full h-full border-2 border-slate-500/30 rounded-lg object-cover object-center" />
      </div>
      <div class="item item3">
        <Image src={img3} alt="Canaan Inmobiliaria" class="w-full h-full border-2 border-slate-500/30 rounded-lg object-cover object-center" />
      </div>
      <div class="item item4">
        <Image src={img4} alt="Canaan Inmobiliaria" class="w-full h-full border-2 border-slate-500/30 rounded-lg object-cover object-center" />
      </div>
      <div class="item item5">
        <Image src={img5} alt="Canaan Inmobiliaria" class="w-full h-full border-2 border-slate-500/30 rounded-lg object-cover object-center" />
      </div>
    </div>
  </div>
</div>

<style>
.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 160px;
  padding: 5px 0;
  background-color: rgba(16, 17, 27, 0.9);
  overflow: hidden;
  mask-image: linear-gradient(to right,
          rgba(0, 0, 0, 0),
          rgb(0, 0, 0) 10%,
          rgba(0, 0, 0, 1) 90%,
          rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
  to {
    left: -250px;
  }
}

.slider {
  position: relative;
  height: 100%;
}

.item {
  width: 250px;
  height: 100%; /* clave: ocupa toda la altura de .wrapper */
  position: absolute;
  left: max(calc(250px * 5), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Ajuste de delays para 5 items */
.item1 { animation-delay: calc(30s / 5 * (5 - 1) * -1); }
.item2 { animation-delay: calc(30s / 5 * (5 - 2) * -1); }
.item3 { animation-delay: calc(30s / 5 * (5 - 3) * -1); }
.item4 { animation-delay: calc(30s / 5 * (5 - 4) * -1); }
.item5 { animation-delay: calc(30s / 5 * (5 - 5) * -1); }
</style>
