---
import CardComponent from "../components/CardComponent.astro"

import achumani from "../assets/imgs/achumani.jpg";
import irpavi from "../assets/imgs/irpavi.jpg";
import calacoto from "../assets/imgs/calacoto.jpg";

const {title}=Astro.params

---
<section class="w-full flex justify-center pt-10 px-4 pb-14">
  <div class="flex flex-col lg:flex-row w-full max-w-6xl justify-between gap-8 items-center">
    <CardComponent 
      img={achumani.src}
      ciudad={title}
      titleUrbanizacion="Achumani" 
      descripcion="Zona residencial tranquila, con vistas panorámicas de la ciudad y fácil acceso a servicios. Ideal para viviendas familiares." 
    />
    <CardComponent 
      img={irpavi.src}
      ciudad={title}
      titleUrbanizacion="Irpavi" 
      descripcion="Urbanización consolidada, segura y bien conectada, con acceso rápido a transporte y comercios cercanos." 
    />
    <CardComponent 
      img={calacoto.src}
      ciudad={title}
      titleUrbanizacion="Calacoto" 
      descripcion="Área residencial de alto nivel, con infraestructura moderna, espacios verdes y ambiente seguro para vivir." 
    />
  </div>
</section>
