---
import CardComponent from "../components/CardComponent.astro"

import achumani from "../assets/imgs/achumani.jpg";
import irpavi from "../assets/imgs/irpavi.jpg";
import calacoto from "../assets/imgs/calacoto.jpg";

const {title}=Astro.params

---
<section class="relative w-full flex flex-col justify-center pt-10 px-4 pb-14 overflow-hidden">


  <div class="relative z-10 flex w-full justify-center items-center flex-col text-center mb-12 sm:mb-16 lg:mb-20">
      <h2 class="text-3xl sm:text-4xl lg:text-5xl xl:text-6xl font-bold max-w-3xl text-slate-800 mb-4 sm:mb-6 tracking-tight">
        ENCUENTRA TU LUGAR IDEAL EN {title=="lapaz"?"LA PAZ":title=="cochabamba"?"COCHABAMBA":"SANTA CRUZ"}
      </h2>
      <p class="text-lg sm:text-xl text-gray-600 max-w-3xl mx-auto px-4">
        Lotes urbanizados en <strong>las mejores zonas de {title=="lapaz"?"La Paz":title=="cochabamba"?"Cochabamba":"Santa Cruz"}</strong>  con servicios básicos y financiamiento accesible
      </p>
    </div>
  <div class="flex flex-col lg:flex-row w-full max-w-6xl justify-center mx-auto gap-10 items-center pb-10">
    <CardComponent 
      img={achumani.src}
      ciudad={title}
      titleUrbanizacion="Achumani" 
      descripcion="Zona residencial tranquila, con vistas panorámicas de la ciudad y fácil acceso a servicios. Ideal para viviendas familiares." 
    />
    <CardComponent 
      img={irpavi.src}
      ciudad={title}
      titleUrbanizacion="Irpavi" 
      descripcion="Urbanización consolidada, segura y bien conectada, con acceso rápido a transporte y comercios cercanos." 
    />
    <CardComponent 
      img={calacoto.src}
      ciudad={title}
      titleUrbanizacion="Calacoto" 
      descripcion="Área residencial de alto nivel, con infraestructura moderna, espacios verdes y ambiente seguro para vivir." 
    />
  </div>
</section>
